<div [class]="(commonService.theme$ | async)">
  <div class="container">
    <br>
    <div class="mat-display-1">
      My CSS Class Name is <strong>mat-display-1</strong> use this when ever you are trying to show large display text
    </div>
    <h1 class="mat-h1">My Class Name is <strong>mat-h1</strong> which is equivalent to h1</h1>
    <h2 class="mat-h2">My Class Name is <strong>mat-h2</strong> which is equivalent to h2</h2>
    <h2 class="mat-h3">My Class Name is <strong>mat-h3</strong> which is equivalent to h3</h2>
    <h2 class="mat-h4">My Class Name is <strong>mat-h4</strong> which is equivalent to h4</h2>
    <div class="mat-body-strong">
      My CSS class name is mat-body-strong which is meant for bold body text
    </div>
    <div class="mat-body-1">
      My CSS class name is mat-body-1 which is meant for body of the page
    </div>
  </div>

</div>
