<div [class]="(commonService.theme$ | async)">
  <br>
  <div class="mat-display-2">
    Angular Typography using Angular Material and Google Fonts
  </div>
  <div class="mat-display-1">
    Go back to Tutorial:
    <a href="https://www.universal-tutorial.com/angular-tutorials/angular-typography">
      https://www.universal-tutorial.com/angular-tutorials/angular-typography
    </a>
  </div>
  <div class="container">
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </div>
</div>


<router-outlet></router-outlet>
